* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.menu--list {
  position: relative;
  margin-top: 0;
  padding: 0;
  background-color: aqua;
  list-style: none;
}

.menu--list__item {
  cursor: pointer;
  display: inline-block;
  padding: 10px;
  background-color: aquamarine;
  border-radius: 50px;
  margin: 15px;
}

.menu--list__item a {
  font-weight: bold;
  text-decoration: none;
  color: rgb(115, 115, 255);
  transition: .5s;
}

.menu--list__item a:hover {
  color: rgb(58, 58, 255);
}

.menu--list__item a:active {
  color: rgb(115, 115, 255);
}

.menu--list__item a::before, .menu--list__item a::after {
  content: "- ";
}

.menu--list__item:active {
  transform: scale(.9);
  background: rgb(55, 55, 83);
}

main {
  width: 100%;
  height: calc(100vh - 68px);
  border: 15px solid gray;
  padding: 15px;
}
